*{
    padding: none;
    margin: 0;
}

:root{
    --kare-genislik: 100px;
    --kare-sayisi: 8;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: gray;
}

#satrancTahtasi {
    display: grid;
    grid-template-columns: repeat(var(--kare-sayisi), var(--kare-genislik)); /* sütun */
    grid-template-rows: repeat(var(--kare-sayisi), var(--kare-genislik));   /* satır */
    width: calc(var(--kare-genislik))*var(--kare-sayisi);
    height: calc(var(--kare-genislik))*var(--kare-sayisi);
    border: 1px solid #a6a2a2;
}
.kare {
    width: var(--kare-genislik);
    height: var(--kare-genislik);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    border: 1px solid black;

}
.siyah {
    background-color: rgb(135, 135, 135);
}
.beyaz {
    background-color: #a6a2a2;
}

img{
    object-fit: contain;
    position: absolute;
    width: 80%;
    height: 80%;
    /* width: 40px; */
}

h3{
    color: beige;
}
