
hr {
    margin-bottom: 20px;
    margin-top: 20px;
}

button {
    cursor: pointer;
}
.div-ornek{
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-right: 15px;
}
.tweet-input {
    font-size: 18px;
    border: none;
    width: 300px;
    vertical-align: middle;
    border-radius: 45px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    height: 43px;
}

.tweet-button {
    border: none;
    background-color: rgb(29, 155, 240);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    font-size: 17px;
    width: 85px;
    height: 44px;
    transition: box-shadow 0.15s;
    padding-top: 5px;
}

.tweet-button:hover {
    box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
}
.tweet-div {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    border-radius: 10px;
    padding: 10px 8px 8px;
    display:inline-block;
}
.friend-recommendation-div {
    width: 180px;
    height: 320px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    border-radius: 10px;
    padding: 0px 10px 5px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.1s;
}
.friend-recommendation-div:hover{
   box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
}
img {
    object-fit: cover;
    object-position: center;
}
.friend-recommendation-img {
    width: 200px;
    height: 200px;
    margin-left: -10px;
    border-radius: 10px 10px 0px 0px;
}
.friend-recommendation-name{
    font-weight:bold;
    font-size:20px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.friend-recommendation-desc {
    margin-top: 5px;
    margin-bottom:6px;
    color: darkgray;
}
.add-friend-button {
    background-color: royalblue;
    border: none;
    text-align: bottom;
    border-radius: 5px;
    color: white;
    transition: box-shadow 0.15s, opacity 0.2s;
    padding: 10px 20px;
    transition: background-color 0.1s opacity 0.2s;
}
.add-friend-button:hover {
    background-color: rgb(35, 75, 195);
}
.add-friend-button:active{
    opacity: 0.7;
    background-color: rgb(35, 75, 195);
}
.url-kisimarama-input {
    border: none;
    border-radius: 20px;
    width: 500px;
    outline: none;
    box-shadow: 0px 0px 10px 3px rgb(0, 0, 0, 0.1);
    transition: box-shadow 0.5s;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}
.url-kisimarama-input:hover{
    box-shadow: 0px 0px 12px 3px rgb(0, 0, 0, 0.2);
}
.google-search-button {
    padding-right: 25px;
    padding-left: 25px;
    height: 43px;
    border: none;
    font-size: 16px;
    transition: opacity 0.2s box-shadow 1s;
}
.google-search-button:hover{
    box-shadow: 0px 0px 6px 1px rgb(0, 0, 0, 0.2);
}
.google-search-button:active{
    opacity: 0.7;
    box-shadow: 0px 0px 6px 1px rgb(0, 0, 0, 0.2);
}
.friend-recommendation-mutualfriendimg{
    width: 30px;
    height: 30px;
    border-radius:15px;
}
